<div class="container mt-5">
  <div class="row">
    <div class="col-xs-12">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="aboutus-image float-start m-5 hidden-sm"><img src="/assets/movie_reel.png" alt=""></div>
        </div>
      <div class="col-md-8 col-sm-6 col-xs-12">
        <div>
          <h1 class="display-1"><b>CinemaLand</b></h1>
          <h4 class="display-3">Viví la experiencia CinemaLand</h4>
          <p></p>
          <div class="m-5">
            <div class="text-center">
              <h2>20</h2>
              <p class="lead">Salas</p>
            </div>
            <div class="text-center">
              <h2>1000</h2>
              <p class="lead">Lugares para estacionamiento</p>
            </div>
            <h2 class="h2 text-center">Donde estamos</h2>
            <div class="shadow-lg mb-5 rounded fitContainerForMap">
            <iframe class="fitMap"src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1580.3269681356414!2d-60.70145781619303!3d-32.93526656287292!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b653342d637257%3A0x9855046fadfe894b!2sCin%C3%A9polis%20Rosario!5e0!3m2!1sen!2sar!4v1662749178686!5m2!1sen!2sar" width="770" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
