<div class="container">
  <div class="m-2"><h1 class="display-1 text-center">Preguntas frecuentes</h1></div>
  <hr class="bg-secondary border-2 border-top border-secondary">
  <ngb-accordion class="m-5" #acc="ngbAccordion">

  <ngb-panel title="Salas">
    <ng-template ngbPanelContent>
      <h4 class="display-4 text-center">¿Salas?</h4>
      <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe exercitationem doloribus laborum enim, est ratione cum fugiat voluptatem, similique voluptatibus numquam neque laboriosam totam veritatis magni quaerat earum unde adipisci?
      </p>
      </ng-template>
  </ngb-panel>

  <ngb-panel title="Comida">
    <ng-template ngbPanelContent>
      <h4 class="display-4 text-center">¿Comida?</h4>
      <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe exercitationem doloribus laborum enim, est ratione cum fugiat voluptatem, similique voluptatibus numquam neque laboriosam totam veritatis magni quaerat earum unde adipisci?
      </p>
    </ng-template>
  </ngb-panel>

  <ngb-panel title="Entradas">
    <ng-template ngbPanelContent>
      <h4 class="display-4 text-center">¿Entradas?</h4>
      <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe exercitationem doloribus laborum enim, est ratione cum fugiat voluptatem, similique voluptatibus numquam neque laboriosam totam veritatis magni quaerat earum unde adipisci?
      </p>
    </ng-template>
  </ngb-panel>

  <ngb-panel title="Estacionamiento">
    <ng-template ngbPanelContent>
      <h4 class="display-4 text-center">¿Estacionamiento?</h4>
      <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe exercitationem doloribus laborum enim, est ratione cum fugiat voluptatem, similique voluptatibus numquam neque laboriosam totam veritatis magni quaerat earum unde adipisci?
      </p>
    </ng-template>
  </ngb-panel>

  <ngb-panel title="Otras preguntas">
    <ng-template ngbPanelContent>
      <h4 class="display-4 text-center">¿Otras preguntas?</h4>
      <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe exercitationem doloribus laborum enim, est ratione cum fugiat voluptatem, similique voluptatibus numquam neque laboriosam totam veritatis magni quaerat earum unde adipisci?
      </p>
    </ng-template>
  </ngb-panel>

  </ngb-accordion>
</div>
