<div class="container mt-5">
  <div class="m-2">
    <h1 class="display-1 text-center">Preguntas frecuentes</h1>
  </div>
  <hr class="bg-secondary border-2 border-top border-secondary" />
  <ngb-accordion class="m-5" #acc="ngbAccordion">
    <ngb-panel title="Salas">
      <ng-template ngbPanelContent>
        <h4 class="display-4 text-center">¿Salas?</h4>
        <p class="lead">
          Contamos con 20 salas climatizadas, con las butacas más cómodas y sobre todo ergonómicas.
          Ademas contamos con filtros de aire haciendo que el aire se renueve, sea mas limpio y puro.
        </p>
      </ng-template>
    </ngb-panel>

    <ngb-panel title="Me olvide de comprar mi comida con mi entrada">
      <ng-template ngbPanelContent>
        <h4 class="display-4 text-center">
          Me olvide de comprar mi comida con mi entrada
        </h4>
        <p class="lead">
          No es posible cambiar una transacción ya terminada, pero no se
          preocupe, usted puede comprar comidas en el cine, los stands de comida
          se encuentran abiertos.
        </p>
      </ng-template>
    </ngb-panel>

    <ngb-panel title="No me llego mi entrada">
      <ng-template ngbPanelContent>
        <h4 class="display-4 text-center">No me llego mi entrada</h4>
        <p class="lead">
          Cuando usted se registró en la página, nos proporcionó una dirección
          de e-mail. <br />
          A esa dirección enviamos todas nuestras comunicaciones, incluyendo las
          de confirmación de compras.<br />
          Si usted no encuentra el mail de confirmación, por favor tenga en
          cuenta los siguientes puntos:<br />
          -Asegúrese de estar revisando la casilla de mail correspondiente.<br />
          -Revise si el mail de confirmación no se encuentra en las carpetas de
          SPAM o correo no deseado.<br />
          -Algunas casillas de e-mail laborales o profesionales rechazan los
          mensajes provenientes de remitentes no autorizados. Le recomendamos
          que no se registre en la página con este tipo de direcciones de
          e-mail.<br />
          -En ocasiones las casillas de mail exceden la cuota de mensajes
          permitidos por el proveedor de correo electrónico. A partir de ese
          momento, ya no podrá recibir mensajes en esa casilla. Por favor
          asegúrese de que no sea el caso. Normalmente el proveedor de correo
          electrónico le enviará una alerta si está excedido en su cuota.
        </p>
      </ng-template>
    </ngb-panel>

    <ngb-panel title="Estacionamiento">
      <ng-template ngbPanelContent>
        <h4 class="display-4 text-center">Estacionamiento Gratis</h4>
        <p class="lead">
          Cuando ingresas a la sala, pedí tu ticket de estacionamiento. Después
          presentalo en la caja al abonar tu estacionamiento y se descontarán
          esas horas del total.
        </p>
      </ng-template>
    </ngb-panel>

    <ngb-panel title="Otras preguntas">
      <ng-template ngbPanelContent>
        <h4 class="display-4 text-center">¿Otras preguntas?</h4>
        <p class="lead">
          ¿Tienes otra pregunta que no esta acá y queres hacerla?, puedes ir a
          la sección de contacto, dejarnos un mensaje y te responderemos a tu
          email a la brevedad.
        </p>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
