<div class="container">
  <div class="m-2"><h1 class="display-1 text-center">Listado de peliculas</h1></div>
  <hr class="bg-secondary border-2 border-top border-secondary">
  <div class="text-center">
    <button type="button" (click)="openCreate(modalCreate)" class="btn-success btn btn-lg mt-2">
      Nueva pelicula
    </button>
  </div>
  <div class="form-floating mt-3">
    <input type="text" name="nameSearch" id="searchMovie" placeholder="Nombre" (keyup)="searchMovie()" class="form-control"/>
    <label for="name">Buscar por nombre</label>
  </div>
  <table class="table align-middle mb-0 bg-white mt-5" id="movieList">
    <thead class="bg-light">
      <tr>
        <th>Nombre</th>
        <th>Formato</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let movie of movies">
        <td>
          <div class="d-flex align-items-center">
            <div class="ms-3">
              <p class="fw-bold mb-1">{{movie.name}}</p>
              <p class="text-muted mb-0">{{movie.genre.name}}</p>
            </div>
          </div>
        </td>
        <td>
          <div class="d-flex align-items-center">
            <div class="ms-3">
              <p class="fw-bold mb-1">{{movie.format_movie}}</p>
            </div>
          </div></td>
        <td>

          <button type="button" (click)="openShow(modalShow)" class="btn btn-link btn-sm btn-rounded">
            Ver
          </button>
          <button type="button" (click)="openEdit(modalEdit,movie.id)" class="btn btn-link btn-sm btn-rounded">
            Editar
          </button>
          <button type="button" (click)="openDelete(modalDelete)" class="btn btn-link btn-sm btn-rounded">
            Borrar
          </button>
          <button type="button" (click)="openAddShows(modalAddShows, movie.id)" class="btn btn-link btn-sm btn-rounded">
            Añadir funciones
          </button>
          <button type="button" (click)="openSeeShows(modalSeeShows, movie.id)" class="btn btn-link btn-sm btn-rounded">
            Ver funciones
          </button>
        </td>

        <!--Modal show-->

      <ng-template #modalShow let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modalShow">Pelicula: {{movie.name}}</h4>
          <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body lead">
            <div class="mb-3">
              <label for="">Id: {{movie.id}}</label>
            </div>
            <div class="mb-3">
              <label for="">Nombre: {{movie.name}}</label>
            </div>
            <div class="mb-3">
              <label for="">Sinopsis: {{movie.synopsis}}</label>
            </div>
            <div class="mb-3">
              <label for="">Duracion: {{movie.duration}}</label>
            </div>
            <div class="mb-3">
              <label for="">Genero:  {{movie.genre.name}}</label>
            </div>
            <div class="mb-3">
              <label for="">Director:  {{movie.director.name}} {{movie.director.lastname}}</label>
            </div>
            <div class="mb-3">
              <label for="">Formato:  {{movie.format_movie}}</label>
            </div>
            <div class="mb-3 fit-picture">
              <label for="">Poster</label>
              <img [src]="movie.path_img">
            </div>
            <div class="mb-3">
              <label for="">Formato:  {{movie.format_movie}}</label>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Cerrar</button>
        </div>
      </ng-template>


      <!--Modal SeeShows-->

      <ng-template #modalSeeShows let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modalShow">Pelicula: {{movie.name}}</h4>
          <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body lead">
          <div *ngFor="let show of shows">
            <div class="mb-3">
              <label for="">Id de funcion: {{show.id}}</label>
            </div>
            <div class="mb-3">
              <label for="">Fecha y hora: {{show.date_time}}</label>
            </div>
            <div class="mb-3">
              <label for="">Entradas disponibles: {{show.tickets_availables}}</label>
            </div>
            <div class="mb-3">
              <label for="">Sala: {{show.id_theaters}}</label>
            </div>
            <hr class="bg-secondary border-2 border-top border-secondary">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Cerrar</button>
        </div>
      </ng-template>


      <!--Modal delete-->

      <ng-template #modalDelete let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modalDelete">Borrar pelicula</h4>
          <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body lead">
          <form>
            <div class="mb-3">
              <label for="dateOfBirth">Esta seguro de que quiere borrar la pelicula {{movie.name}}</label>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="deleteMovie(movie.id);modal.close('Confirm click')">Si</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Cancelar</button>
        </div>
      </ng-template>

      </tr>


    </tbody>
  </table>
  </div>

<!--Modal create-->

  <ng-template #modalCreate let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modalCreate">Crear pelicula</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="createMovieForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">

        <div class="form-floating mb-2">
          <input type="text" formControlName="nameControl" name="name" id="name" placeholder="Nombre" class="form-control"/>
          <label for="name">Nombre</label>
        </div>

        <div class="form-floating mb-2">
          <textarea type="text" formControlName="synopsisControl" name="synopsis" id="synopsis" placeholder="Sinopsis" class="form-control"></textarea>
          <label for="synopsis">Sinopsis</label>
        </div>

        <div class="form-control mb-2">
          <label class="me-2 mb-2"for="genre">Genero </label>
          <select class="form-select mb-2" formControlName="genreControl" name="genre" id="genre" aria-label="Default select example">
            <option value='' selected>Seleccione genero</option>
            <option *ngFor="let genre of genres" [value]="genre.id" >{{genre.name}}</option>
          </select>
        </div>

        <div class="form-control mb-2">
          <label class="me-2 mb-2"for="director">Director </label>
          <select class="form-select mb-2" formControlName="directorControl" name="director" id="director" aria-label="Default select example">
          <option value='' selected>Seleccione director</option>
          <option *ngFor="let director of directors" [value]="director.id" >{{director.name}} {{director.lastname}}</option>
        </select>
        </div>

        <div class="form-control mb-2">
          <label class="me-2 mb-2"for="duration">Duracion </label>
          <input type="time" class="form-control" formControlName="hoursControl" name="hours" id="hours" min="00:00" max="03:00">
        </div>

        <div class="form-check form-check-inline lead">
          <input class="form-check-input" type="radio" formControlName="format" name="format" id="2D" value="2D">
          <label class="form-check-label" for="2d">2D</label>
        </div>
        <div class="form-check form-check-inline lead">
          <input class="form-check-input" type="radio" formControlName="format" name="format" id="3D" value="3D">
          <label class="form-check-label" for="3d">3D</label>
        </div>

        <div class="form-group">
          <label for="file">Imagen</label>
          <input formControlName="file"id="file" name="file"type="file" class="form-control" (change)="onFileChange($event)">
          <div *ngIf="getCreateMovieForm['file'].touched && getCreateMovieForm.file.invalid" class="alert alert-danger">
              <div *ngIf="getCreateMovieForm['file'].errors['required']">File is required.</div>
          </div>
        </div>
        <button type="button"(click)="resetCreate()"  class="btn btn-secondary m-2">Limpiar campos</button>

        <button type="submit" [disabled]="!createMovieForm.valid" class="btn btn-primary float-end m-2">Guardar</button>
      </form>{{createMovieForm.valid}}
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cerrar</button>
    </div>
  </ng-template>

  <!--Modal edit-->

<ng-template #modalEdit let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modalEdit">Editar</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="editMovieForm" (ngSubmit)="onSubmitEdit()" action="/movies/" enctype="multipart/form-data" method="POST">

      <div class="form-floating mb-2">
        <input type="text" value="" class="form-control" formControlName="idEditControl" name="id" id="id" placeholder="Id de la pelicula">
        <label for="id">Id</label>
      </div>

      <div class="form-floating mb-2">
        <input type="text" formControlName="nameEditControl" name="name" id="name" placeholder="Nombre" class="form-control"/>
        <label for="name">Nombre</label>
      </div>

      <div class="form-floating mb-2">
        <textarea type="text" formControlName="synopsisEditControl" name="synopsis" id="synopsis" placeholder="Sinopsis" class="form-control"></textarea>
        <label for="synopsis">Sinopsis</label>
      </div>

      <div class="form-control mb-2">
        <label class="me-2 mb-2"for="genre">Genero </label>
        <select class="form-select mb-2" formControlName="genreEditControl" name="genre" id="genre" aria-label="Default select example">
          <option value='' selected>Seleccione genero</option>
          <option *ngFor="let genre of genres" [value]="genre.id" >{{genre.name}}</option>
        </select>
      </div>

      <div class="form-control mb-2">
        <label class="me-2 mb-2"for="director">Director </label>
        <select class="form-select mb-2" formControlName="directorEditControl" name="director" id="director" aria-label="Default select example">
        <option value='' selected>Seleccione director</option>
        <option *ngFor="let director of directors" [value]="director.id" >{{director.name}} {{director.lastname}}</option>
      </select>
      </div>

      <div class="form-control mb-2">
        <label class="me-2 mb-2"for="duration">Duracion</label>
        <input type="time" class="form-control" formControlName="hoursEditControl" name="hours" id="hours" min="00:00" max="03:00">
      </div>

      <label class="lead me-2">Formato</label>
      <div class="form-check form-check-inline lead">
        <input class="form-check-input" type="radio" formControlName="format" name="format" id="2D" value="2D">
        <label class="form-check-label" for="2d">2D</label>
      </div>
      <div class="form-check form-check-inline lead">
        <input class="form-check-input" type="radio" formControlName="format" name="format" id="3D" value="3D">
        <label class="form-check-label" for="3d">3D</label>
      </div>
      <div class="">
        <div class="lead fit-picture text-center">
          <label for="img" >Imagen actual</label>
          <img class="rounded"[src]="currentImagePath" >
        </div>
      </div>
      <div class="form-group lead">
        <label for="fileEdit">Nueva imagen</label>
        <input formControlName="fileEdit"id="fileEdit" name="fileEdit" type="file" class="form-control" (change)="onEditFileChange($event)">
        <div *ngIf="getEditMovieForm['fileEdit'].touched && getEditMovieForm.fileEdit.invalid" class="alert alert-danger">
            <div *ngIf="getEditMovieForm['fileEdit'].errors['required']">File is required.</div>
        </div>
      </div>


      <button type="submit" [disabled]="!editMovieForm.valid" class="btn btn-primary float-end m-2">Guardar</button>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cerrar</button>
  </div>
</ng-template>

<!--Modal addShows-->

<ng-template #modalAddShows let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modalCreate">Añadir funciones</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="addShowForm" (ngSubmit)="onSubmitAddShow()">

      <div class="form-floating mb-2">
        <input type="text" value="" class="form-control" formControlName="idMovieControl" name="id" id="id" placeholder="Id de la pelicula">
        <label for="id">Id</label>
      </div>

      <div class="form-control mb-2">
        <label class="me-2 mb-2"for="theaters">Sala </label>
        <select class="form-select mb-2" formControlName="theaterShowControl" name="theaters" (change)="onDateChange()" id="theaters" aria-label="Default select example">
          <option value='' selected>Seleccione Sala</option>
          <option *ngFor="let theater of theaters" [value]="theater.id" >{{theater.id}}</option>
        </select>
      </div>

      <div class="form-control mb-2">
        <label class="me-2 mb-2"for="day">Dia </label>
        <input type="date" formControlName="dayShowControl" id="day" name="day" [min]="minDate" (change)="onDateChange()" [max]="maxDate">
      </div>
      <div class="form-control mb-2">
        <label class="me-2 mb-2"for="time">Hora </label>
        <select class="form-select mb-2" formControlName="timeShowControl" name="time" id="time" (change)="onDateChange()" aria-label="Default select example">
          <option value='' selected>Seleccione hora</option>
          <option *ngFor="let time of times" [value]="time.time" >{{time.time}}</option>
        </select>
      </div>

      <button type="button"(click)="resetAddShow()"  class="btn btn-secondary m-2">Limpiar campos</button>

      <button type="submit" [disabled]="!addShowForm.valid" class="btn btn-primary float-end m-2" (click)="modal.close('Save click')">Guardar</button>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cerrar</button>
  </div>
</ng-template>
