<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
  <div class="container-fluid">
    <!-- Agregue este icono, se puede sacar, lo estilos los mande aca, despues hay que pasarlos al scss -->
    <a class="navbar-brand" href="#"><img src="../../../../assets/iconcinema.png" style="max-width: 75px; min-width:75px;"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/home'" routerLinkActive="text-white">Inicio</a>
        </li>
        <li class="nav-item" *ngIf='this.authService.isLoggedIn() == false'>
          <a class="nav-link" [routerLink]="'/login'" routerLinkActive="text-white" >Iniciar sesion</a>
        </li>
        <li class="nav-item" *ngIf='this.authService.isLoggedIn() == false'>
          <a class="nav-link" [routerLink]="'/register'" routerLinkActive="text-white" >Registrarse</a>
        </li>
        <li class="nav-item dropdown" *ngIf='this.authService.isLoggedInAdmin() && this.authService.isLoggedIn()'>
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Listados
          </a>
          <ul class="dropdown-menu"  aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#" [routerLink]="'/movieList'" >Peliculas</a></li>
            <li><a class="dropdown-item" href="#" [routerLink]="'/userList'" >Usuarios</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown" *ngIf='this.authService.isLoggedIn() == true'>
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Usuario
          </a>
          <ul class="dropdown-menu"  aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" (click)="openShow(userPanelModal)" >Perfil</a></li>
            <li><a class="dropdown-item" href="#" (click)="logOut()">Salir</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search"  name="searchbar"
          id="searchbar" [(ngModel)]="title" (keyup)="inputChange()">
        <button (click)="search()" class="btn btn-outline-success" type="submit">Search </button>
      </form>
    </div>
  </div>
</nav>

<!-- userPanel Modal -->

<ng-template #userPanelModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="userPanelModal">Panel de usuario</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
      <div class="mb-3">
        <label class="lead" for="name">Nombre y apellido: {{this.authService.getLoggedUser().firstname}} {{this.authService.getLoggedUser().lastname}}</label>
      </div>
      <div class="mb-3">
        <label class="lead" for="Dni">Dni: {{this.authService.getLoggedUser().dni}}</label>
      </div>
      <div class="mb-3">
        <label class="lead" for="Email">Email: {{this.authService.getLoggedUser().email}}</label>
      </div>
      <form>
        <button (click)="openPasswordChange(changePasswordModal)"  class="float-end btn btn-primary m-2 lead">Cambiar contraseña</button>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Cerrar</button>
  </div>
</ng-template>

<!-- changePasswordModal Modal -->

<ng-template #changePasswordModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="changePasswordModal">Cambiar contraseña</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="passwordChangeForm" (ngSubmit)="onSubmitPassword()">
      <div class="form-floating mb-2">
        <input type="text"  formControlName="oldPasswordControl" name="oldPassword" id="oldPassword" placeholder="Contraseña"  type="password"class="form-control"/>
        <label for="password">Contraseña vieja</label>
      </div>
      <div class="form-floating mb-2">
        <input type="text"  formControlName="newPasswordControl" name="newPassword" id="newPassword" placeholder="Contraseña"  type="password"class="form-control"/>
        <label for="password">Contraseña nueva</label>
      </div>
      <div class="form-floating mb-2">
        <input type="text"  formControlName="newConfirmPasswordControl" name="newConfirmPassword" id="newConfirmPassword" placeholder="Contraseña"  type="password"class="form-control"/>
        <label for="password">Confirmar contraseña nueva</label>
      </div>
      <button type="submit" [disabled]="!passwordChangeForm.valid" class="btn btn-primary m-2">Cambiar contraseña</button>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Cerrar</button>
  </div>
</ng-template>
