.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
  color:white;
}

@media only screen and (min-width: 1100px) {
.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
  margin-left: 300px;
  margin-right: 300px;
}
.fitCarouselImg{
  width: 50%;
  height: 50em;
}
}

@media only screen and (max-width: 1100px) {
  .fitCarouselImg{
    width: 20em;
    height: 40em;
  }
  .carousel-control-next,
  .carousel-control-prev /*, .carousel-indicators */ {
    margin-left: 3em;
    margin-right: 3em;
  }
  }

a { color: inherit;
  text-decoration: none;}
a:hover{
  color: inherit;
}
.carouselTitle:link{
  color:grey;
  text-decoration: none;
  cursor: pointer;
  box-shadow: none;
}
.carouselTitle:hover{
  color:orange;
  text-decoration: underline dotted;
  cursor: pointer;
  box-shadow: none;
}

.card{

  transition: transform .2s; /* Animation */
}

.card:hover{

  transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.fitCardImg{
  width: 100%;
  height: 25em;

}
