.carousel-control-next,
.carousel-control-prev  {
  color:white;
}

@media only screen and (min-width: 1100px) {
.carousel-control-next,
.carousel-control-prev  {
  width:200px;
  margin-left: 300px;
  margin-right: 300px;
}
}

@media only screen and (max-width: 1100px) {

  .carousel-control-next,
  .carousel-control-prev  {
    margin-left: 3em;
    margin-right: 3em;
  }
  .carouselMobile{
    margin-top: 3em;
  }
  }

  a { color: inherit;
    text-decoration: none;}
  a:hover{
    color: inherit;
  }
.card{

  transition: transform .2s; /* Animation */
}

.card:hover{

  transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.fitCardImg{
  width: 100%;
  height: 35em;

}
.containerForCarousel {
  position: relative ;
  overflow: hidden ;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}
.carouselImages{
  position: absolute ;
  top: 0 ;
  left: 0 ;
  bottom: 0 ;
  right: 0 ;
  width: 100% ;
  height: 100% ;
}
.fitImage{
  width: 100%;
}
