<div class="text-center mt-3 ">
 <ngb-carousel *ngIf="this.dataService.movies!=null" #carousel [interval]="5000" [showNavigationArrows]="true" [pauseOnHover]="pauseOnHover">



  <ng-template *ngFor="let movie of this.dataService.movies;let i = index" ngbSlide>
    <a [routerLink]="['/movieDetails/'+movie.id]">
    <div class="picsum-img-wrapper">
      <img [src]="movie.path_img" alt="Random first slide" class="mh-100 fitCarouselImg" >
    </div>
    <div>
    </div>
  </a>
  </ng-template>
 </ngb-carousel>
</div>

<hr class="bg-secondary border-2 border-top border-secondary">

<ngb-accordion #acc="ngbAccordion">
  <ngb-panel class="lead"title="Filtros">
    <ng-template ngbPanelContent>
      <div *ngFor="let genre of genres" class="lead">
        <div>
          <input type="radio" class="me-2" [id]="genre.name" name="genre" [value]="genre.id" [checked]="radioStatus" (change)="genreFilter($event)">
          <label [for]="genre.name">{{genre.name}}</label>
        </div>
      </div>
      <button type="button" class="btn btn-secondary m-2" (click)="cleanFilter()">Limpiar filtros</button>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
<div *ngIf="this.dataService.movies.length==0"><div class="m-2"><h1 class="display-1 text-center">No hay peliculas en esta categoria</h1></div></div>
<div class="container mt-3 mb-3">
  <div class="row row-cols-1 row-cols-md-3 g-4">
  <div *ngFor="let item of this.dataService.movies;let i = index">
      <div class="col">
        <a [routerLink]="['/movieDetails/'+item.id]">
          <div class="card  ">
            <img [src]="item.path_img" class="card-img-top mh-100 fitCardImg">
            <div class="card-body">
              <h5 class="card-title text-center">{{item.name}}</h5>
            </div>
          </div>
        </a>
      </div>
    </div>
 </div>
</div>
