<div class="text-center mt-5" class="containerForCarousel carouselMobile">

 <ngb-carousel class="carouselImages" *ngIf="this.dataService.mostViewedMovies"  #carousel [interval]="5000" [showNavigationArrows]="true" [pauseOnHover]="pauseOnHover">



  <ng-template class="box" *ngFor="let movie of this.dataService.mostViewedMovies.slice(0, 3); let i=index" ngbSlide>
    <div class="ribbon ribbon-top-left"><span>Más vistas</span></div>
    <a [routerLink]="['/movieDetails/'+movie.id]">
    <div>
      <img [src]="'https://res.cloudinary.com/clawgames/image/upload/'+movie.path_img_banner" alt="Banner image" class="fitImage" >
    </div>
  </a>
  </ng-template>
 </ngb-carousel>
</div>

<hr class="bg-secondary border-2 border-top border-secondary">

<ngb-accordion #acc="ngbAccordion">
  <ngb-panel class="lead"title="Géneros">
    <ng-template ngbPanelContent>
      <form [formGroup]="radioForm">
        <div *ngFor="let genre of genres" class="lead form-check form-check-inline">
            <input type="radio" class="me-2 form-check-input" formControlName="genre" [id]="genre.name" name="genre" [value]="genre.id"  (ngModelChange)="genreFilter()">
            <label class="form-check-label"[for]="genre.name">{{genre.name}}</label>
        </div>
      </form>
      <button type="button" class="btn btn-secondary m-2" (click)="cleanFilter()">Limpiar filtros</button>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
<div class="container mt-3 mb-3">
  <div class="row row-cols-1 row-cols-md-3 g-4">
  <div id="movieList"*ngFor="let movie of this.dataService.movies;let i = index">
      <div class="col">
        <a [routerLink]="['/movieDetails/'+movie.id]">
          <div class="card  ">
            <img [src]="movie.path_img" class="card-img-top mh-100 fitCardImg">
            <div class="card-body">
              <h5 class="card-title text-center">{{movie.name}}</h5>
            </div>
          </div>
        </a>
      </div>
    </div>
 </div>
</div>
