<div class="text-center mt-3 ">
 <ngb-carousel *ngIf="images!=null" #carousel [interval]="5000" [showNavigationArrows]="true" [pauseOnHover]="pauseOnHover">



  <ng-template *ngFor="let item of imagesCinema;let i = index" ngbSlide>
    <a [routerLink]="['/movieDetails/'+imagesCinema[i].id]">
    <div class="picsum-img-wrapper">
      <img [src]="imagesCinema[i].path_img" alt="Random first slide" class="mh-100 fitCarouselImg" >
    </div>
    <div>
    </div>
  </a>
  </ng-template>
 </ngb-carousel>
</div>

<hr class="bg-secondary border-2 border-top border-secondary">

<ngb-accordion #acc="ngbAccordion">
  <ngb-panel title="Filtros">
    <ng-template ngbPanelContent>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="terrorCheckbox" name="terror" (change)="genreFilter($event)" >
        <label class="form-check-label" for="terrorCheckbox">Terror</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="comediaCheckbox" name="comedia" (change)="genreFilter($event)" >
        <label class="form-check-label" for="comediaCheckbox">Comedia</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="accionCheckbox" name="accion" (change)="genreFilter($event)" >
        <label class="form-check-label" for="accionCheckbox">Accion</label>
      </div>
    </ng-template>
  </ngb-panel>
</ngb-accordion>

<div class="container mt-3 mb-3">
  <div class="row row-cols-1 row-cols-md-3 g-4">
  <div *ngFor="let item of imagesCinema;let i = index">
      <div class="col">
        <a [routerLink]="['/movieDetails/'+imagesCinema[i].id]">
          <div class="card  ">
            <!-- Falta agregar un max width y height -->
            <img [src]="imagesCinema[i].path_img" class="card-img-top mh-100 fitCardImg">
            <div class="card-body">
              <h5 class="card-title text-center">{{imagesCinema[i].name}}</h5>
            </div>
          </div>
        </a>
      </div>
    </div>
 </div>
</div>
