
  <footer class="text-center text-white bg-dark footer mt-5">
    <div class="container">
      <section>
        <div class="row text-center d-flex justify-content-center pt-5">
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#!" class="text-white" [routerLink]="'/aboutUs'">Sobre nosotros</a>
            </h6>
          </div>
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#!" class="text-white" [routerLink]="'/frequentQuestions'">Preguntas frecuentes</a>
            </h6>
          </div>
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#!" class="text-white" [routerLink]="'/contactUs'">Contacto</a>
            </h6>
          </div>
        </div>
      </section>
      <hr class="my-3" />
    <section class="mb-4">
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/cinesshowcase/" role="button">
        <fa-icon [icon]="faFacebook" size="2x"></fa-icon>
      </a>
      <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/cinesshowcase?lang=en" role="button">
        <fa-icon [icon]="faTwitter" size="2x"></fa-icon>
      </a>
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/cinesshowcase/?hl=en" role="button">
        <fa-icon [icon]="faInstagram" size="2x"></fa-icon>
      </a>
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/juan-barrientos-b4a4b5238/" role="button">
        <fa-icon [icon]="faLinkedin" size="2x"></fa-icon>
      </a>
      <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/Juan-Pablo-Barrientos/L2Front" role="button">
        <fa-icon [icon]="faGithub" size="2x"></fa-icon>
      </a>
    </section>
      <hr class="my-3" />
      <section class="mb-2">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <p class="lead">
              ¡Vení a disfrutar!
            </p>
            <p class="lead">
              Avenida Eva Perón 5856
            </p>
          </div>
        </div>
      </section>
    </div>
    <div
         class="text-center p-3"
         style="background-color: #525252"
         >
      © 2022 Copyright:
      <a class="text-white" href="https://www.lasegunda.com.ar/"
         >L2</a>
    </div>
  </footer>

